/* whole-page things */

body {
    margin: 0px 0px;
    font-family: 'Source Code Pro', Courier, monospace;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    /* disables swipe navigation for most browsers */
    overscroll-behavior: none;
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0px 0px;
    overflow: clip;
    scroll-behavior: smooth;
}

:root {
    color-scheme: dark;
    --input-color: #888;
    --input-hover-color: #999;
    --input-border-radius: 4px;
    --input-disabled-color: #555;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

input,
button,
select,
option,
label {
    font-family: 'Source Code Pro', Courier, monospace;
}

input,
button,
select,
label[button] {
    margin: 0px;
    border-radius: var(--input-border-radius);
    background-color: var(--input-color);
    color: white;
    transition: 50ms linear background-color;
    cursor: pointer;
}

input[type=button],
input[type=submit],
input[type=text],
input[type=number],
button,
select {
    appearance: none;
    border: none;
    margin: 0px;
}

input[type=text],
input[type=number] {
    cursor: text;
}

select {
    padding: 1px 1.5em 1px 0.3em;
    background-image: url(@/img/arrow-down.svg);
    background-position: right;
    background-size: 1.5em 0.8em;
    background-repeat: no-repeat;
}

input:hover,
button:hover,
select:hover,
label[button]:hover {
    background-color: var(--input-hover-color);
}

input:disabled,
button:disabled,
select:disabled,
label[button][disabled=true] {
    background-color: var(--input-disabled-color);
    cursor: not-allowed;
}

input:focus-visible,
button:focus-visible,
select:focus-visible {
    outline-offset: 0px;
    outline: 2px solid white;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Source Code Pro', Courier, monospace;
    line-height: 1.1em;
    margin: 0.2em 0px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Source Code Pro', Courier, monospace;
    line-height: 1.1em;
    margin: 0.2em 0px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Source Code Pro', Courier, monospace;
    line-height: 1.1em;
    margin: 0.2em 0px;
}

p {
    font-size: 14px;
    margin: 8px 8px;
    text-align: justify;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a {
    color: dodgerblue;
}

a:visited {
    color: steelblue;
}

a[no-deco] {
    text-decoration: none;
}

code {
    padding-inline: 0px;
    padding-block: 0.2em;
    font-family: 'Source Code Pro', Courier, monospace;
    background-color: #FFF2;
    border-radius: 0.2em;
}

pre {
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em 0.2em;
    margin-inline: 0px;
    margin-block: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FFF2;
    border-radius: 0.2em;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
}

blockquote {
    box-sizing: border-box;
    padding: 0.2em 0.2em;
    border-left: 0.2em solid #FFF5;
    border-radius: 0.2em;
    margin-inline: 1em;
    margin-block: 0.5em;
}

ul,
ol {
    margin: 0px 0px;
}

/* scroll bars */

* {
    --scrollbar-size: 12px;
    --scrollbar-padding: 2px;
}

@supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar {
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
        background-color: #222;
    }

    *::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: #555;
    }

    *::-webkit-scrollbar-thumb:vertical {
        border-left: var(--scrollbar-padding) solid transparent;
        border-right: var(--scrollbar-padding) solid transparent;
    }

    *::-webkit-scrollbar-thumb:horizontal {
        border-top: var(--scrollbar-padding) solid transparent;
        border-bottom: var(--scrollbar-padding) solid transparent;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #5A5A5A;
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: #4A4A4A;
    }

    *::-webkit-scrollbar-button {
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
        background-color: #222;
    }

    *::-webkit-scrollbar-button:hover {
        background-color: #444;
    }

    *::-webkit-scrollbar-button:active {
        background-color: #777;
    }

    *::-webkit-scrollbar-button {
        background-size: calc(var(--scrollbar-size) * 0.75) calc(var(--scrollbar-size) * 0.75);
        background-position: center;
        background-repeat: no-repeat;
    }

    *::-webkit-scrollbar-button:vertical:decrement {
        background-image: url(@/img/arrow-up.svg);
    }

    *::-webkit-scrollbar-button:vertical:increment {
        background-image: url(@/img/arrow-down.svg);
    }

    *::-webkit-scrollbar-button:horizontal:decrement {
        background-image: url(@/img/arrow-left.svg);
    }

    *::-webkit-scrollbar-button:horizontal:increment {
        background-image: url(@/img/arrow-right.svg);
    }

    *::-webkit-scrollbar-button:end:decrement,
    *::-webkit-scrollbar-button:start:increment {
        display: none;
    }

    *::-webkit-scrollbar-corner {
        background-color: #222;
    }
}

@supports (not (selector(::-webkit-scrollbar))) {
    * {
        scrollbar-color: #555 #222;
    }
}
