/* font faces used by all pages (including admin portal) */

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200, 300, 400, 500, 600, 700, 800;
    font-style: normal, italic;
    src: url(./SourceCodePro.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Jura';
    font-weight: 300, 400, 500, 600, 700;
    font-style: normal;
    src: url(./Jura.ttf) format('truetype');
    font-display: swap;
}
