/* VERY SCUFFED TOOLBAR */

trix-toolbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4px;
    font-size: 12px;

    .trix-button-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 4px;
        column-gap: 4px;
    }

    .trix-button-group {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin: 0px 0px !important;
        border: 2px solid #AAA;
        border-radius: 4px;
    }
}

/* THE BOX */

trix-editor {
    padding: 4px 4px;
    border: 2px solid #AAA;
    border-radius: 4px;
    background-color: #222;
    font-size: 1px;
    overflow-y: scroll;

    &:focus-visible {
        border-color: white;
    }
}

/* BUTTON */

trix-toolbar {
    .trix-button {
        color: white;
        background-color: #222;
        flex-grow: 1;
        max-width: none;
        border: none;
    }

    .trix-button::before {
        /* hacky way of making all the default icons white */
        filter: invert(1);
    }

    .trix-button.trix-active {
        color: white;
        background-color: #555;
    }

    .trix-button:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .trix-button:last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .trix-button:not(:first-child) {
        border-left: 2px solid #AAA;
    }

    /* SCUFF */

    .trix-x-size-label {
        display: grid;
        font-size: 1em;
        grid-template-columns: 1.6em 1fr 1.6em;
        padding: 0px 0px;

        * {
            grid-row: 1;
            background: transparent;
            border-radius: 0px;
        }

        .trix-x-size-input {
            grid-column: 2;
            margin: 0px 2px;
            text-align: center;
            min-width: 2em;

            &::-webkit-inner-spin-button {
                display: none;
            }
        }

        .trix-x-size-decrement {
            grid-column: 1;
        }

        .trix-x-size-increment {
            grid-column: 3;
        }
    }

    /* horrible image mess */
    .trix-button--icon-under::before {
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22000000%22%3E%3Cpath%20d%3D%22M200-120v-80h560v80H200Zm280-160q-101%200-157-63t-56-167v-330h103v336q0%2056%2028%2091t82%2035q54%200%2082-35t28-91v-336h103v330q0%20104-56%20167t-157%2063Z%22%2F%3E%3C%2Fsvg%3E);
    }

    .trix-button--icon-font::before {
        background-image: url(data:image/svg+xml,);
    }
}